---
design:
  type: "mpls"

fabric_name: MPLS_NETWORK

overlay_routing_protocol: ibgp

# bgp_mesh_pes: true

underlay_routing_protocol: isis-sr

isis_default_is_type: level-2
isis_default_circuit_type: level-2
isis_default_metric: 50
isis_advertise_passive_only: true

isis_ti_lfa:
  enabled: true
  protection: link
  local_convergence_delay: 15000

bgp_as: 65000

bgp_peer_groups:
  mpls_overlay_peers:
    password: $1c$U4tL2vQP9QwZlxIV1K3/pw==
  rr_overlay_peers:
    password: $1c$U4tL2vQP9QwZlxIV1K3/pw==

# Nodes:

# P Routers
p:
  platform: vEOS-LAB
  defaults:
    loopback_ipv4_pool: 100.70.3.0/24
    node_sid_base: 300
    isis_system_id_prefix: '0000.0003'
    loopback_ipv4_offset: 30
  nodes:
    P1-B:
      id: 2
      mgmt_ip: 10.83.30.243/22
    P2-B:
      id: 4
      mgmt_ip: 10.83.30.246/22
    P3-A:
      id: 5
      mgmt_ip: 10.83.31.243/22
    P3-B:
      id: 6
      mgmt_ip: 10.83.31.244/22
    P4-A:
      id: 7
      mgmt_ip: 10.83.30.240/22
    P4-B:
      id: 8
      mgmt_ip: 10.83.31.240/22

pe:
  platform: vEOS-LAB
  defaults:
    virtual_router_mac_address: 00:1c:73:00:dc:00
    platform: vEOS-LAB
    loopback_ipv4_pool: 100.70.1.0/24
    is_type: level-2
    node_sid_base: 100
    isis_system_id_prefix: '0000.0001'
    spanning_tree_priority: 4096
    spanning_tree_mode: mstp
    overlay_address_families: [ evpn, vpn-ipv4, vpn-ipv6 ]
    loopback_ipv4_offset: 10
    bgp_defaults:
      - 'no bgp default ipv4-unicast'
      - 'distance bgp 20 200 200'
      - 'graceful-restart restart-time 300'
      - 'graceful-restart'
    mpls_route_reflectors: [ P1-A, P2-A ]
  node_groups:
    SITE1:
      spanning_tree_root_super: true
      filter:
        tenants: [ all ]
        tags: [ site1 ]
      nodes:
        PE-1A:
          id: 1
          mgmt_ip: 10.83.30.242/22
        PE-1B:
          id: 2
          mgmt_ip: 10.83.30.241/22

    SITE2:
      filter:
        tenants: [ all ]
        tags: [ site2 ]
      nodes:
        PE-2:
          id: 3
          mgmt_ip: 10.83.30.245/22

    SITE3:
      filter:
        tenants: [ all ]
        tags: [ site3 ]
      nodes:
        PE-3:
          id: 4
          mgmt_ip: 10.83.31.245/22

    SITE4:
      filter:
        tenants: [ all ]
        tags: [ site4 ]
      spanning_tree_root_super: true
      nodes:
        PE-4A:
          id: 5
          mgmt_ip: 10.83.31.241/22
        PE-4B:
          id: 6
          mgmt_ip: 10.83.31.242/22

rr:
  defaults:
    platform: vEOS-LAB
    loopback_ipv4_pool: 100.70.2.0/24
    is_type: level-2
    node_sid_base: 200
    isis_system_id_prefix: '0000.0002'
    overlay_address_families: [ evpn, vpn-ipv4, vpn-ipv6 ]
    bgp_defaults:
      - 'no bgp default ipv4-unicast'
      - 'distance bgp 20 200 200'
      - 'graceful-restart restart-time 300'
      - 'graceful-restart'
      - 'bgp route-reflector preserve-attributes always'
  node_groups:
    P1-2:
      bgp_cluster_id: 12.12.12.12
      structured_config:
        router_bgp:
          peer_groups:
            MPLS-OVERLAY-PEERS:
              ebgp_multihop: 10
          neighbors:
            100.64.20.11:
              peer_group: MPLS-OVERLAY-PEERS
              description: GW2
            100.64.30.11:
              peer_group: MPLS-OVERLAY-PEERS
              description: GW3
      nodes:
        P1-A:
          id: 1
          mgmt_ip: 10.83.30.244/22
        P2-A:
          id: 2
          mgmt_ip: 10.83.30.247/22
