---
bgp_as: 65002

dc_name: VXLAN_ISLAND3

# Spine Switches
# spine:
#   defaults:
#     platform: vEOS-LAB
#     loopback_ipv4_pool: 100.64.30.0/24
#     isis_system_id_prefix: '0000.0030'
#   nodes:
#     SP3:
#       evpn_role: server
#       id: 1
#       mgmt_ip: 10.30.30.102/24

# Leaf switches
l3leaf:
  defaults:
    isis_system_id_prefix: '0000.0031'
    virtual_router_mac_address: 00:1c:73:00:dc:00
    platform: vEOS-LAB
    uplink_ipv4_pool: 100.64.32.0/24
    vtep_loopback_ipv4_pool: 100.64.31.0/24
    loopback_ipv4_pool: 100.64.30.0/24
    loopback_ipv4_offset: 10
    max_uplink_switches: 3
    uplink_interfaces: [ Ethernet1 ]
    spanning_tree_priority: 4096
    spanning_tree_mode: mstp
    bgp_defaults:
      - 'no bgp default ipv4-unicast'
      - 'distance bgp 20 200 200'
      - 'graceful-restart restart-time 300'
      - 'graceful-restart'
  node_groups:
    GW3:
      filter:
        tenants: [ all ]
        tags: [ vxlan-site5 ]
      node_sid_base: 2000
      evpn_role: server
      evpn_gateway:
        vxlan_to_mpls:
          enabled: true
          mpls_overlay_address_family: evpn
          mpls_underlay: isis-sr
          mpls_remote_as: 65000
      structured_config:
        router_bgp:
          neighbors:
            100.70.2.1:
              peer_group: MPLS-OVERLAY-PEERS
              description: P-1A
            100.70.2.2:
              peer_group: MPLS-OVERLAY-PEERS
              description: P-2A
      nodes:
        GW3:
          id: 1
          mgmt_ip: 172.16.32.219/24

    SPE5:
      filter:
        tenants: [ all ]
        tags: [ vxlan-site5 ]
      uplink_switches: [ GW3 ]
      evpn_route_servers: [ GW3 ]
      nodes:
        SPE5:
          id: 2
          mgmt_ip: 172.16.32.225/24
          uplink_switch_interfaces: [ Ethernet2 ]
          uplink_interfaces: [ Ethernet1 ]
