---
core_interfaces:
  p2p_links_ip_pools:
    - name: underlay_pool
      ipv4_pool: 100.64.48.0/24
  p2p_links_profiles:
    - name: default_bb_profile
      speed: 100full
      mtu: 9178
      isis_hello_padding: false
      isis_metric: 50
      ip_pool: underlay_pool
      isis_circuit_type: level-2
      isis_authentication_mode: md5
      isis_authentication_key: $1c$sTNAlR6rKSw=
  p2p_links:
    # Defining P-PE links from P node perspective
    # P1-A links
    - nodes: [ P-1A, PE-1A ]
      id: 1
      interfaces: [ Ethernet2, Ethernet2 ]
      profile: default_bb_profile

    - nodes: [ P-1A, P-1B ]
      id: 2
      interfaces: [ Ethernet6, Ethernet6 ]
      profile: default_bb_profile

    - nodes: [ P-1A, P-2A ]
      id: 3
      interfaces: [ Ethernet3, Ethernet3 ]
      profile: default_bb_profile

    # P1-B links
    - nodes: [ P-1B, PE-1B ]
      id: 4
      interfaces: [ Ethernet2, Ethernet2 ]
      profile: default_bb_profile

    - nodes: [ P-1B, P-3A ]
      id: 5
      interfaces: [ Ethernet4, Ethernet4 ]
      profile: default_bb_profile

    - nodes: [ P-1B, P-4A ]
      id: 6
      interfaces: [ Ethernet3, Ethernet3 ]
      profile: default_bb_profile

    # P3-A links
    - nodes: [ P-3A, PE-3 ]
      id: 7
      interfaces: [ Ethernet2, Ethernet4 ]
      profile: default_bb_profile

    - nodes: [ P-3A, P-3B ]
      id: 8
      interfaces: [ Ethernet6, Ethernet6 ]
      profile: default_bb_profile

    - nodes: [ P-3A, P-2B ]
      id: 9
      interfaces: [ Ethernet3, Ethernet3 ]
      profile: default_bb_profile

    # P-3B links
    - nodes: [ P-3B, PE-3 ]
      id: 10
      interfaces: [ Ethernet2, Ethernet5 ]
      profile: default_bb_profile

    - nodes: [ P-3B, P-4B ]
      id: 11
      interfaces: [ Ethernet3, Ethernet3 ]
      profile: default_bb_profile

    - nodes: [ P-3B, P-3GW ]
      id: 12
      interfaces: [ Ethernet5, Ethernet1 ]
      profile: default_bb_profile

    # P-3GW links
    - nodes: [ P-3GW, PE-5 ]
      id: 13
      interfaces: [ Ethernet5, Ethernet1 ]
      profile: default_bb_profile

    # P-2A links
    - nodes: [ P-2A, P-2GW ]
      id: 14
      interfaces: [ Ethernet5, Ethernet1 ]
      profile: default_bb_profile

    - nodes: [ P-2A, PE-2 ]
      id: 15
      interfaces: [ Ethernet2, Ethernet4 ]
      profile: default_bb_profile

    - nodes: [ P-2A, P-2B ]
      id: 16
      interfaces: [ Ethernet6, Ethernet6 ]
      profile: default_bb_profile

     # P-2B links
    - nodes: [ P-2B, PE-2 ]
      id: 17
      interfaces: [ Ethernet2, Ethernet5 ]
      profile: default_bb_profile

    - nodes: [ P-2B, P-4A ]
      id: 18
      interfaces: [ Ethernet4, Ethernet4 ]
      profile: default_bb_profile

    # P-4A links
    - nodes: [ P-4A, PE-4A ]
      id: 19
      interfaces: [ Ethernet2, Ethernet2 ]
      profile: default_bb_profile

    - nodes: [ P-4A, P-4B ]
      id: 19
      interfaces: [ Ethernet6, Ethernet6 ]
      profile: default_bb_profile

    # P-4B links
    - nodes: [ P-4B, PE-4B ]
      id: 19
      interfaces: [ Ethernet2, Ethernet2 ]
      profile: default_bb_profile
