---
local_users:
  admin:
    privilege: 15
    role: network-admin
    sha512_password: $6$.AacdhG05IikboCh$6WrVW9Q71w47MZiZI1bPhC7VedadxmhST9MEcsXRs8l6pNwjn.vRmOb0jsffRT8UTiPil4d6UBttiqmu02.pw.

  cvpadmin:
    privilege: 15
    role: network-admin
    sha512_password: "$6$Wy3T6kVW72lScPdR$vXW5AVe/Uz41Ro/Rj7YvdvI25OEznjT/Lv8724PweuuAiOIuCk.dqnRkAvY1ahG0ClFbwtKtZhExFwMYI5hLX1"

internal_vlan_order:
  allocation: ascending
  range:
    beginning: 3700
    ending: 3900

management_security:
  password:
    encryption_key_common: true

# OOB Management network default gateway.
mgmt_gateway: 172.16.32.1

# dns servers.
name_servers:
  - 8.8.8.8
  - 8.8.4.4

dns_domain: clearshark.net

clock:
  timezone: America/New_York

ntp:
  local_interface:
    name: Management1
    vrf: MGMT
  servers:
    - name: time-a.nist.gov
      iburst: true
      preferred: true
      version: 4
      vrf: MGMT
